
.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  min-height: 100px;
}
.navbar{
	min-height:100px;
	top: 0;
}
.navbar-brand{
	
	font-style:italic;
	font-family:OCR A Std, monospace;
	text-shadow: 2px 2px red;
	font-size: 250%;
}
.container{
	margin-top:300px;
}